<style></style>
<div>
  <h1>404</h1>
  <p>
    <% if(typeof message !== 'undefined'){ %>
      <%= message %>
    <% } else { %>
      <p>Sorry, we couldn't find that page.</p>
    <% } %>
  </p>
</div>
